In [1]:
%reload_ext autoreload
%autoreload 2
%autosave 0

import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.INFO, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import gmsh_api
import gmsh_api.gmsh as gmsh
print("gmsh_api package: v{}".format(gmsh_api.__version__))
print("GMSH_API_VERSION: v{}".format(gmsh.GMSH_API_VERSION))

Autosave disabled
gmsh_api package: v0.1.2
GMSH_API_VERSION: v4.2

In [2]:
gmsh.initialize()

gmsh.option.setNumber("General.Terminal", 1)
gmsh.option.setNumber("Mesh.Algorithm", 5) # delquad
gmsh.option.setNumber("Mesh.RecombineAll", 1)

gmsh.model.add("square")
gmsh.model.geo.addPoint(0, 0, 0, 0.6, 1)
gmsh.model.geo.addPoint(1, 0, 0, 0.6, 2)
gmsh.model.geo.addPoint(1, 1, 0, 0.5, 3)
gmsh.model.geo.addPoint(0, 1, 0, 0.4, 4)
gmsh.model.geo.addLine(1, 2, 1)
gmsh.model.geo.addLine(2, 3, 2)
gmsh.model.geo.addLine(3, 4, 3)
# try automatic assignement of tag
line4 = gmsh.model.geo.addLine(4, 1)
gmsh.model.geo.addCurveLoop([1, 2, 3, line4], 1)
gmsh.model.geo.addPlaneSurface([1], 6)
gmsh.model.geo.synchronize()
gmsh.model.mesh.generate(2)
gmsh.write("square.unv")

In [3]:
mesh = gmsh_api.Mesh.from_gmsh(gmsh)
mesh

(Mesh nodes:10 elements:17)

In [4]:
mesh.nodes

     nid         x         y    z
nid
1      1  0.000000  0.000000  0.0
2      2  1.000000  0.000000  0.0
3      3  1.000000  1.000000  0.0
4      4  0.000000  1.000000  0.0
5      5  0.500000  0.000000  0.0
6      6  1.000000  0.522774  0.0
7      7  0.728708  1.000000  0.0
8      8  0.472136  1.000000  0.0
9      9  0.229485  1.000000  0.0
10    10  0.000000  0.786636  0.0
11    11  0.000000  0.550510  0.0
12    12  0.000000  0.289194  0.0
13    13  0.267268  0.304987  0.0
14    14  0.637319  0.370788  0.0
15    15  0.703727  0.740444  0.0
16    16  0.387068  0.621410  0.0
17    17  0.189356  0.818467  0.0

In [5]:
mesh.elements

  pid elid    type n_nodes             nodes             nidxs
0   1   17  shell4       4    [9, 17, 16, 8]    [9, 17, 16, 8]
1   1   18  shell4       4  [16, 17, 10, 11]  [16, 17, 10, 11]
2   1   19  shell4       4    [10, 17, 9, 4]    [10, 17, 9, 4]
3   1   20  shell4       4   [5, 14, 16, 13]   [5, 14, 16, 13]
4   1   21  shell4       4   [6, 15, 16, 14]   [6, 15, 16, 14]
5   1   22  shell4       4     [6, 14, 5, 2]     [6, 14, 5, 2]
6   1   23  shell4       4    [16, 15, 7, 8]    [16, 15, 7, 8]
7   1   24  shell4       4  [16, 11, 12, 13]  [16, 11, 12, 13]
8   1   25  shell4       4    [5, 13, 12, 1]    [5, 13, 12, 1]
9   1   26  shell4       4     [6, 3, 7, 15]     [6, 3, 7, 15]